// Global Settings -------------------------------------------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
    height: 100%;
}
img {
  width: 100%;
  object-fit: cover;
}
.btn__container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__container {
 width: 100%;
 height: 100%;
}
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider__images {
  list-style: none;
  width: 100%;
  height: inherit;
  background-color: red;
}
.img {
  transition: max-width, height, 300ms ease-in-out;
  max-width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.img1 {
  background-image: url("./../img/bg-1.jpg");
}
.img2 {
  background-image: url("./../img/bg-2.jpg");
}
.img3 {
  background-image: url("./../img/bg-3.jpg");
}
.img4 {
  background-image: url("./../img/bg-4.jpg");
}

@media screen and (max-width:600px){
  .slider {
    transition: height 300ms ease-in-out;
    height: 300px;
  }
}
